{% extends 'layout.twig' %}

{% block title %}{{ name }} - {% endblock %}
{% block description %}Identicon profile for {{ name }}{% endblock %}
{% block header %}{{ name }}{% endblock %}
{% set basic = url("basic", { "name": name }) %}

{% block content %}

    <section class="identicon-image identicon-image-basic">
        <a href="{{ basic }}"><img src="{{ basic }}" alt="Identicon for {{ name }}"></a>
    </section>

{% endblock %}
