{% extends 'layout.twig' %}

{% block title %}{{ name }} - {% endblock %}
{% block description %}Identicon profile for {{ name }}{% endblock %}
{% block header %}{{ name }}{% endblock %}
{% set basic = url("basic", { "name": name, "format": format }) %}

{% block content %}

    <section class="identicon-image identicon-image-basic">
        <a href="{{ basic }}"><img src="{{ basic }}" alt="Identicon for {{ name }}"></a>
    </section>

    {% if types|length > 0 %}
    <section class="identicon-extras text-center">
        <div class="btn-group-vertical center-block">
        {% for type in types %}
        {% set extra = url("extra", { "name": name, "type": type, "format": format }) %}
        <a href="{{ extra }}" class="btn btn-default btn-lg">Type {{ type }}</a>
        {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}
